.main_wrapper {
  background: tomato;
}

.admin_wrapper {
  display: flex;
  justify-content: space-between;
}

ul.bullet {
  background: teal;
  color: wheat;
  padding: 4%;
  height: 20rem;
}

li {
  list-style: none;
  font-size: 2rem;
  margin-top: 10%;
}
