form#form-id {
  background: brown;
  padding: 3%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-items {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  position: relative;
  left: 30%;
  top: 20%;
}
.form_group {
  display: flex;
  flex-direction: column;
  height: 3rem;
  position: relative;
}

input#form-field {
  height: 4rem;
  width: 300px;
}

button.login_btn {
  width: 300px;
  height: 3rem;
  position: absolute;
  top: 60%;
  left: 31.9%;
  background: tomato;
  color: wheat;
  font-size: 2rem;
}
